<div fxLayout="column"
     fxLayoutAlign="start center">
    <span class="gym-title"><mark>AREZZO</mark></span>
    <span class="gym-subtitle">c/o Centro Sportivo San Giusto, ultimo piano</span>
    <span class="gym-address">via A. Sansovino 1, 52100 Arezzo</span>
    <span class="gym-days">Marted&igrave; e Gioved&igrave;</span>
    <span class="gym-time">20:30 ~ 22:00</span>
</div>
