<div fxLayout="column" fxLayoutAlign="start center">
    <span class="gym-title"><mark>SOCI</mark></span>
    <span class="gym-subtitle">c/o Centro Sportivo Casentino Combat</span>
    <span class="gym-address"> via Don Milani, 4 – 52011 Soci-Bibbiena (AR)</span>
    <span class="gym-days">Luned&igrave; Mercoled&igrave; Venerd&igrave;</span>
    <span class="gym-time">18:30 ~ 20:00</span>
</div>
