@import '../../../../@bbs/scss/theme-spartan.scss';
@import '../../../../@bbs/scss/breakpoints.scss';
@import '../../../../@bbs/scss/colors.scss';

:host {
    .gym-title {
        font-size: 300%;
        font-weight: 700;
    }

    .gym-subtitle {
        font-size: 150%;
        font-weight: 700;
    }

    .gym-address {
        line-height: 2.5;
        vertical-align: middle;
    }

    .gym-days, .gym-time {
        font-size: 200%;
        font-weight: 700;
    }
}
