@import '../../../@bbs/scss/theme-spartan.scss';
@import '../../../@bbs/scss/breakpoints.scss';
@import '../../../@bbs/scss/colors.scss';

.bbs-nav {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 999;
    opacity: .7;
    background-color: transparent;

    &:hover {
        opacity: 1;
    }

    @include media-breakpoint('lt-md') {
        top: 10px;
        right: 10px;
    }
}
