<div class="bbs-nav"
     fxLayout="row"
     fxLayoutAlign="space-between center"
     fxFlex>

    <mat-button-toggle-group appearance="legacy">

        <mat-button-toggle fxLayout="row"
                           fxLayoutAlign="space-around center"
                           (click)="this.goTo('home')"
                           checked="true">
            <mat-icon>home</mat-icon>
            <span fxHide.lt-md>home</span>
        </mat-button-toggle>

        <mat-button-toggle fxLayout="row"
                           fxLayoutAlign="space-around center"
                           (click)="this.goTo('about')">
            <mat-icon>assignment</mat-icon>
            <span fxHide.lt-md>about</span>
        </mat-button-toggle>

        <mat-button-toggle fxLayout="row"
                           fxLayoutAlign="space-around center"
                           (click)="this.goTo('findus')">
            <mat-icon>location_on</mat-icon>
            <span fxHide.lt-md>find us</span>
        </mat-button-toggle>

    </mat-button-toggle-group>

</div>
