
@keyframes pknWord {
    0% {
        top: -2em;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes pknWord {
    0% {
        top: -1em;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
