<div fxLayout="column"
     fxLayoutAlign="space-around center"
     class="area-pkn-content">

    <div fxLayout="row"
         fxLayoutAlign="space-between start"
         fxFill>

        <div fxLayout="column"
             fxLayoutAlign="center start"
             fxFlex>

            <div class="letter">PANKRATION</div>
            <div fxFill
                 fxLayout="row"
                 fxLayoutAlign="space-around center">
                <div #athlima class="word animation-base">ATHLIMA</div>
                <div #amyna class="word animation-base animation1">AMYNA</div>
            </div>
        </div>

    </div>

    <div class="area-pkn-phrase">
        Il <mark>PANCRAZIO</mark> &egrave; di fatto la prima forma di MMA documentata nella storia. Nasce nell&apos;antica Grecia, nella leggenda &egrave;
        creato da Eracle (Ercole) e diventa il sitema di combattimento degli Spartani. Da questa antichissima arte nasce il pugilato e la lotta Greco-Romana,
        entrambe componenti fondamentali del Pancrazio. La parte chiamata <mark>Athlima</mark> &egrave; la forma agonistica, mentra la <mark>Amyna</mark> &egrave;
        la versione meno sportiva utilizzata come difesa personale. Esiste anche una forma a contatto toale chiamata <mark>PANKRATON</mark>.
    </div>
</div>
