@import '../../../../@bbs/scss/theme-spartan.scss';
@import '../../../../@bbs/scss/breakpoints.scss';
@import '../../../../@bbs/scss/colors.scss';
@import 'animationKeyframes.scss';

:host {
    .area-pkn-content {

        .letter {
            font-size: 280%;
            font-weight: bold;
            width: 100%;
            text-align: center;
        }

        .word {
            font-size: 120%;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            line-height: 1.2;
            height: 1.5em;
            vertical-align: middle;
            letter-spacing:2px;
        }

        .animation-base {
            position: relative;
            animation-name: pknWord;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-direction:alternate;
            animation-timing-function:ease-in-out;
        }

        .letter, .word {
            text-shadow: 0 0 10px yellow;
        }

        .area-pkn-phrase {
            text-align: justify;
            padding: 15px 10px;
            width: 100%;

            @include media-breakpoint('lt-md'){
                padding: 15px 30px;
                width:auto;
            }
        }
    }
}
