@import '../../../../@bbs/scss/theme-spartan.scss';
@import '../../../../@bbs/scss/breakpoints.scss';
@import '../../../../@bbs/scss/colors.scss';

:host {
    .area-mma-content {

        .letter {
            font-size: 280%;
            font-weight: bold;
            width: 100%;
            text-align: center;
        }

        .word {
            font-size: 120%;
            text-transform: uppercase;
            font-weight: bold;
            width: 100%;
            text-align: center;
            line-height: 1.2;
            height: 1.5em;
            vertical-align: middle;
        }

        .letter, .word {
            text-shadow: 0 0 10px yellow;
        }

        .area-mma-phrase {
            text-align: justify;
            padding: 15px 10px;
            width: 100%;

            @include media-breakpoint('lt-md') {
                padding: 15px 30px;
                width: auto;
            }
        }
    }
}
