<div fxLayout="column"
     fxLayoutAlign="space-around center"
     class="area-mma-content">

    <div fxLayout="row"
         fxLayoutAlign="space-between start"
         fxFill>
        <div fxLayout="column"
             fxLayoutAlign="center start"
             fxFlex>
            <div class="letter">M</div>
            <div id="mixed" class="word">{{this.mixed}}</div>
        </div>
        <div fxLayout="column"
             fxLayoutAlign="center start"
             fxFlex>
            <div class="letter">M</div>
            <div id="martial" class="word">{{this.martial}}</div>
        </div>
        <div fxLayout="column"
             fxLayoutAlign="center start"
             fxFlex>
            <div class="letter">A</div>
            <div id="arts" class="word">{{this.arts}}</div>
        </div>
    </div>

    <div class="area-mma-phrase">
        Le <mark>MMA</mark> sono sport da combattimento totale, a contatto pieno, dove la preparazione sia fisica che tecnica sono fondamentali.
        Sono <em>totali</em> in quanto il combattimento si sviluppa su tutti i livelli, in piedi ed a terra, a media distanza e corpo a corpo,
        comprendono inoltre proiezioni e sottomissioni (cio&egrave; leve articolari e strangolamenti).
    </div>
</div>
