@import '../@bbs/scss/theme-spartan.scss';
@import '../@bbs/scss/breakpoints.scss';
@import '../@bbs/scss/colors.scss';

.logo{
    margin:2em 0 10px 2em;
}

.main-header{
    width:100%;
    font-size:300%;
    text-transform:uppercase;

    @include media-breakpoint('lt-md'){
        font-size:200%;
    }
}
