<div id="findus" #findus
     class="bbs-find-us"
     fxLayout="column">

    <div fxFill
         fxLayout="row"
         fxLayoutAlign="space-around start"
         fxLayout.lt-md="column"
         fxLayoutAlign.lt-md="space-around center">
        <gym-arezzo fxFlex="45"></gym-arezzo>
        <gym-soci fxFlex="45"></gym-soci>
    </div>

    <contact fxFlex></contact>
</div>
