@import '../../../@bbs/scss/theme-spartan.scss';
@import '../../../@bbs/scss/breakpoints.scss';
@import '../../../@bbs/scss/colors.scss';

:host {
    .bbs-home {
        margin: 0;

        .logo-container {
            margin: 2em 0 .2em 1em;

            .logo{
                margin:0 15px;
            }
        }

        .main-header {
            width: 100%;
            font-size: 300%;
            text-transform: uppercase;

            @include media-breakpoint('lt-md') {
                font-size: 200%;
            }
        }

        .secontary-header {
            width: 100%;
            font-size: 230%;
            text-transform: uppercase;

            @include media-breakpoint('lt-md') {
                font-size: 130%;
            }
        }

        .flags {
            margin-bottom: .5em;

            * {
                min-height: .5em;
            }

            .red {
                background-color: red;
            }

            .white {
                background-color: white;
            }

            .green {
                background-color: green;
            }
        }

        .group {
            width: 100%;
            height: auto;
        }
    }
}
