
<div id="home" #home
     class="bbs-home"
     fxLayout="column">

    <div class="logo-container"
         fxLayout="row">
        <img alt="Spartan" src="/assets/logo/elmo_tricolore.png" width="100" height="100" class="logo" />
        <img alt="Legionarius" src="/assets/partner/legio.png" width="100" height="100" class="logo" />
    </div>

    <div class="flags"
         fxFill
         fxLayout="row"
         fxLayoutAlign="center center">
        <div class="green" fxFlex="33"></div>
        <div class="white" fxFlex="33"></div>
        <div class="red" fxFlex="33"></div>
    </div>
    <div class="main-header"
         fxFill
         fxLayout="row"
         fxLayoutAlign="center center">
        Spartan Club&nbsp;<sup>&reg;</sup>&nbsp;<small>ASD</small>
    </div>

    <div class="secontary-header"
         fxFill
         fxLayout="row"
         fxLayoutAlign="center center">
        Legio&apos;s Team Arezzo
    </div>

    <img alt="Spartan" src="/assets/groups/group0.jpg" class="group" />

</div>
