
:host {
    margin-top: 2em;
    margin-bottom: 3em;

    .contact-div {
        margin-bottom: 20px;
    }

    .btn-social {
        margin: 15px;
        border-radius: 5px;
        color: aqua;
        border: 1px solid cornflowerblue;
    }

}
