<div fxFill
     fxLayout="column"
     fxLayoutAlign="space-around center">

    <div fxFill
         fxLayout="row"
         fxLayout.lt-md="column"
         fxLayoutAlign="space-around center">

        <div fxLayout="column" class="contact-div"
             fxLayoutAlign="start center">
            <span class="cnt-email"><mark>info&#64;spartanclubarezzo.it</mark></span>
            <span class="cnt-email">spartanclubmma&#64;gmail.com</span>

        </div>

        <div fxLayout="column" class="contact-div"
             fxLayoutAlign="start center">
            <span class="cnt-name"><mark>Marco L.</mark></span>
            <span class="cnt-mobile">339 521 53 95</span>
        </div>

        <div fxLayout="column" class="contact-div"
             fxLayoutAlign="start center">
            <span class="cnt-name"><mark>Riccardo</mark></span>
            <span class="cnt-mobile">339 5405493</span>
        </div>

        <div fxLayout="column" class="contact-div"
             fxLayoutAlign="start center">
            <span class="cnt-name"><mark>Marco C.</mark></span>
            <span class="cnt-mobile">349 540 27 80</span>
        </div>

    </div>

    <div fxFill
         fxLayout="row"
         fxLayout.lt-md="column"
         fxLayoutAlign="space-around center">

        <a mat-stroked-button
           class="btn-social fb"
           href="https://www.facebook.com/SpartanLegioMMA"
           target="_blank">
            SpartanLegioMMA on Facebook
        </a>

        <a mat-stroked-button
           class="btn-social in"
           href="https://instagram.com/spartanlegiomma"
           target="_blank">
            SpartanLegioMMA on Instagram
        </a>

    </div>
</div>
