@import './@bbs/scss/theme-spartan.scss';
@import './@bbs/scss/breakpoints.scss';
@import './@bbs/scss/font-faces.css';

html, body {
    line-height: 1.5;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-family: exo, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    background-color: mat-color($spartan-primary);
    color: white;
    width: 100%;
    height: 100%;
}

mark {
    background-color: mat-color($spartan-accent);
    color: mat-color($spartan-primary);
    padding: 2px 6px;
    margin: 2px 4px;
    border-radius: 6px 12px;
    font-weight:700;
}

.mat-button-toggle {
    color: white !important;
    background-color: rgba(255,255,255,.3);
}

.mat-button-toggle-checked {
    color: black !important;
}
