
@keyframes fncTrn {
    0% {
        left:-50px;
    }

    100% {
        left:100%;
    }
}

@-webkit-keyframes fncTrn {
    0% {
        left: -50px;
    }

    100% {
        left: 100%;
    }
}
