@import '../../../../@bbs/scss/theme-spartan.scss';
@import '../../../../@bbs/scss/breakpoints.scss';
@import '../../../../@bbs/scss/colors.scss';
@import 'animationKeyframes.scss';

:host {
    .area-fnc-content {
        overflow-x: hidden;

        .letter {
            font-size: 220%;
            font-weight: bold;
            width: 100%;
            text-align: center;

            @include media-breakpoint('lt-md') {
                font-size: 200%;
            }
        }

        /*.animation-base {
            height: 5px;
            width: 50px;
            background-color: aqua;
            box-shadow: 1px 1px 5px yellow, 0 2px 5px yellow, -1px -1px 5px yellow, 0 -2px 5px yellow;
            position: relative;
            animation-name: fncTrn;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }*/

        .letter, .word {
            text-shadow: 0 0 10px yellow;
        }

        .area-fnc-phrase {
            text-align: justify;
            padding: 15px 10px;
            width: 100%;

            @include media-breakpoint('lt-md') {
                padding: 15px 30px;
                width: auto;
            }
        }
    }
}
