<div fxLayout="column"
     fxLayoutAlign="space-around center"
     class="area-fnc-content">

    <div fxLayout="row"
         fxLayoutAlign="space-between start"
         fxFill>

        <div fxLayout="column" class="animation-container"
             fxLayoutAlign="center start"
             fxFlex>

            <div class="letter">FUNCTIONAL TRAINING</div>
        </div>

    </div>

    <div class="area-fnc-phrase">
        L&apos;<mark>ALLENAMENTO FUNZIONALE</mark> &egrave; una tipologia di allenamento caratterizzata principalmente da esercizi a corpo libero,
        che mirano a riprodurre movimenti pi&ugrave;; o meno quotidiani ed a coinvolgere sempre diversi gruppi muscolari. Questo tipo di esercizi &egrave;
        ottimo per aumentare in modo esponenziale forza e resistenza. Spesso questo allenamento viene fatto sotto forma di circuiti con un rapporto di lavoro/recupero di
        1:1 o 2:1, con diverse ripetizioni e diversi esercizi. Uno dei pi&ugrave; diffusi circuiti di questo tipo &egrave; il <mark>Tabata</mark>: 8 esercizi x 8 ripetizioni,
        20s di lavoro e 10s di recupero (60s di recupero tra ogni esercizio).
    </div>
</div>
