@import 'theme-spartan.scss';

.fore-accent {
  color: mat-color($spartan-accent);
}

.back-accent {
  background-color: mat-color($spartan-accent);
  color: mat-color($spartan-primary);
}

.fore-green {
  color: green;
}

.back-green {
  background-color: green;
  color: white;
}

.fore-white {
  color: white;
}

.back-white {
  background-color: white;
  color: black;
}

.fore-red {
  color: red;
}

.back-red {
  background-color: red ;
  color: black;
}
