/* ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### */
@font-face {
  font-family: "RockSalt";
  src: url("../../assets/fonts/rocksalt.eot");
  src: url("../../assets/fonts/rocksalt.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/rocksalt.woff") format("woff"), url("../../assets/fonts/rocksalt.ttf") format("truetype"), url("../../assets/fonts/rocksalt.svg#RockSalt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RockSalt";
  src: url("../../assets/fonts/rocksalt.ttf") format("truetype");
}
/* ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### */
@font-face {
  font-family: 'exo';
  src: url('../../assets/fonts/exo.eot');
  src: url('../../assets/fonts/exo.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/exo.woff2') format('woff2'), url('../../assets/fonts/exo.woff') format('woff'), url('../../assets/fonts/exo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "exo";
  src: url("../../assets/fonts/exo.ttf") format("truetype");
}
/* ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### */
@font-face {
  font-family: 'tusj';
  src: url('../../assets/fonts/tusj.eot');
  src: url('../../assets/fonts/tusj.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/tusj.woff2') format('woff2'), url('../../assets/fonts/tusj.woff') format('woff'), url('../../assets/fonts/tusj.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tusj";
  src: url("../../assets/fonts/tusj.ttf") format("truetype");
}
/* ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### */
@font-face {
  font-family: 'blackout2_am';
  src: url('../../assets/fonts/blackout-2am.eot');
  src: url('../../assets/fonts/blackout-2am.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/blackout-2am.woff2') format('woff2'), url('../../assets/fonts/blackout-2am.woff') format('woff'), url('../../assets/fonts/blackout-2am.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blackout2_am';
  src: url('../../assets/fonts/blackout-2am.ttf') format('truetype');
}
/* ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### */
@font-face {
  font-family: 'blackoutmidnight';
  src: url('../../assets/fonts/blackout-midnight.eot');
  src: url('../../assets/fonts/blackout-midnight.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/blackout-midnight.woff2') format('woff2'), url('../../assets/fonts/blackout-midnight.woff') format('woff'), url('../../assets/fonts/blackout-midnight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blackoutmidnight';
  src: url('../../assets/fonts/blackout-midnight.ttf') format('truetype');
}
/* ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### */
@font-face {
  font-family: 'boycott';
  src: url('../../assets/fonts/boycott_.eot');
  src: url('../../assets/fonts/boycott_.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/boycott_.woff2') format('woff2'), url('../../assets/fonts/boycott_.woff') format('woff'), url('../../assets/fonts/boycott_.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'boycott';
  src: url('../../assets/fonts/boycott_.ttf') format('truetype');
}
/* ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### */
@font-face {
  font-family: 'JenniferLynne';
  src: url('../../assets/fonts/jennifer_lynne.eot');
  src: url('../../assets/fonts/jennifer_lynne.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/jennifer_lynne.woff2') format('woff2'), url('../../assets/fonts/jennifer_lynne.woff') format('woff'), url('../../assets/fonts/jennifer_lynne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JenniferLynne';
  src: url('../../assets/fonts/jennifer_lynne.ttf') format('truetype');
}
/* ##### ##### ##### ##### ##### ##### ##### ##### ##### ##### */
