@import '../../../@bbs/scss/theme-spartan.scss';
@import '../../../@bbs/scss/breakpoints.scss';
@import '../../../@bbs/scss/colors.scss';

:host {
    .bbs-about {
        margin-top: 3em;
        margin-bottom: 3em;
        /*background-color:whitesmoke;
        color:black;*/
    }
}
