<div id="about" #about
     class="bbs-about"
     fxFlexFill
     fxLayout="row"
     fxLayoutAlign="space-around start"
     fxLayout.lt-md="column"
     fxLayoutAlign.lt-md="space-between center">

    <div fxFlex="29"
         fxLayout.lt-md="column"
         fxLayoutAlign.lt-md="space-between stretch"
         class="area-mma">
        <mixed-martial-arts fxFlex></mixed-martial-arts>
    </div>

    <div fxFlex="29"
         fxLayout.lt-md="column"
         fxLayoutAlign.lt-md="space-between stretch"
         class="area-functional">
        <functional-training fxFlex></functional-training>
    </div>

    <div fxFlex="29"
         fxLayout.lt-md="column"
         fxLayoutAlign.lt-md="space-between stretch"
         class="area-pankration">
        <pankration fxFlex></pankration>
    </div>
    
</div>
